   <!-- ========== Left Sidebar Start ========== -->
   <div class="leftside-menu">

    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-light mt-3">
        <span class="logo-lg">
            <img src="assets/images/serops-high.png" alt="" height="70">
        </span>
        <span class="logo-sm mt-3">
            <img src="assets/images/serops-logo-low.png" alt="" height="30">
        </span>
    </a>

<br>
<br>

    <div class="h-100" id="leftside-menu-container" data-simplebar>

        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title side-nav-item">Navigation</li>

            <li class="side-nav-item">
                <a [routerLink]="['/dashboard/project']"  data-bs-toggle="collapse" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span> Project Management</span>
                </a>

            </li>

            <li class="side-nav-item">
                <a [routerLink]="['/dashboard/employee']" data-bs-toggle="collapse" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span> Employee Management </span>
                </a>

            </li>
            <li class="side-nav-item">
                <a [routerLink]="['/dashboard/client']" data-bs-toggle="collapse" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span> Client Management </span>
                </a>

            </li>



        </ul>



    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->